# Discord
DISCORD_BOT_TOKEN=

# OpenAI
OPENAI_API_KEY=

# Dependent Services
SUPABASE_CONNECTION_STRING=
CHATBOT_SUPABASE_CONNECTION_STRING=
VOICEVOX_URL=http://127.0.0.1:50021

# server id
SERVER_ID=

# role id
BOT_ADMIN=

# channel id
LOBBY=
LISTEN_ONLY_MEMBER=

# thread id
LOG_THREAD=
ANTHYME_LOG_THREAD=
AUDIT_IMMUNITY=

# Last.fm
LASTFM_API_KEY=
LASTFM_IDS=

# Configs
LOG_LEVEL=
