# Discord
DISCORD_BOT_TOKEN=

# OpenAI
OPENAI_API_KEY=

# Supabase
SUPABASE_CONNECTION_STRING=
CHATBOT_SUPABASE_CONNECTION_STRING=

# Server Information
SERVER_ID=
LISTEN_ONLY_MEMBER=

# Configs
LOG_LEVEL=
VOICEVOX_URL=http://127.0.0.1:50021
